.PostForm-butons {
    padding: 10px;
}

.PostForm-butons .btn {
    margin-right: 10px;
}

.formContainer{
    max-width: 600px;
    margin: auto;
    padding: 50px;
    border: lightslategrey solid 1px;
    
}