.card {
    padding: 10px;
    height: 430px;
}

.card .PostItem-card-content {
    padding-top: 10px;
    width: 100%;
    max-height: 180px;
    overflow: hidden;
}

.card .PostItem-card-content p{
    line-height:1.5rem;
    max-height: 4.5rem;
    min-width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}

.card .PostItem-card-image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    height: 180px;
    margin: auto;
}

.card .PostItem-card-image img.PostItem-image {
    height: 180px;
    margin: auto;
    padding: 0;
}

.PostItem-title {
    display: inline-block;
    margin-right: 20px;
}

.PostItem-card-actions.card-action {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    bottom: 5px;
}

.PostItem-card-actions.card-action button.btn, 
.PostItem-card-actions.card-action button.btn-small, 
.PostItem-card-actions.card-action button.btn-large {
    margin-right: 10px;
}

.PostItem-card-actions.card-action .btn.danger {
    background-color: #e04237;
}

.PostItem-card-actions.card-action .btn.danger:hover {
    background-color: #fc3c2e;
}

.PostItem-tags .chip {
    position: relative;
    top:-5px;
    line-height: 1.6em;
    height: 1.8em;
}

.PostItem-tags{
    display: block;
}

.PostItem-tags .name {
    margin-top:0;
    background-color: #26a69a;
    transition: background-color .3s;
    color:white;
}

.PostItem-tags .name:hover {
    background-color: #11ddc9;
    transition: background-color .3s
}

.PostItem-tags .age {
    background-color: lightcoral;
    transition: background-color .3s;
    color:white;
}

.PostItem-tags .age:hover {
    background-color: red;
    transition: background-color .3s
}

.card p ul>li {
    list-style-type: square;
    list-style-position: inside;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #ee6e73 ;
    border-width: 2px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #ee6e73 ;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.h-align-items{
    display: flex;
    align-items: center;
}

.margin-right-small{
    margin-right: 5px;
}

.margin-left-small{
    margin-left: 15px;
}